
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.5;
}

.featured-posts {
  margin-top: 20px;
}

.post {
  display: flex;
  margin-bottom: 20px;
}

.post img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

.post-details {
  flex-grow: 1;
}

.post-details h4 {
  color: #333;
}

.post-details p {
  color: #666;
}

.post-details a {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.post-details a:hover {
  text-decoration: underline;
}
