<!-- home.component.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
</head>
<body>
  <div class="home-content">
    <h2>Bienvenido a la Página de Inicio</h2>
    <p>
        ¡Gracias por iniciar sesión! Aquí encontrarás contenido exclusivo para usuarios autenticados.
    </p>
    <div class="featured-posts">
        <h3>Publicaciones Destacadas</h3>
        <div class="post">
            <img src="https://www.adobe.com/es/express/create/post/media_1cc8576b3e9b6ea2d39389f9c597468a5a3404771.png?width=750&format=png&optimize=medium" alt="Imagen de la publicación">
            <div class="post-details">
                <h4>Título de la Publicación</h4>
                <p>Descripción corta de la publicación. Puede ser un resumen interesante del contenido.</p>
                <a href="#">Leer más</a>
            </div>
        </div>

        <div class="post">
            <img src="https://www.softzone.es/app/uploads-softzone.es/2018/05/fotografo.jpg?x=480&y=375&quality=40" alt="Imagen de la publicación">
            <div class="post-details">
                <h4>Otro Título de Publicación</h4>
                <p>Otra descripción breve de la publicación para atraer la atención del usuario.</p>
                <a href="#">Leer más</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>

